.shop-look.nacelle .shop-look-modal-inner {
  padding: 1.5rem;
}

.shop-look.nacelle .interface-close-button {
  top: 0.25rem;
  right: 0.25rem;
  width: 1.2rem;
  height: 1.2rem;
}

.shop-look.nacelle .product-price {
  display: none;
}

.shop-look.nacelle .product-title {
  font-size: 1.5em;
}